doctype html
html
  head
    title Tweetalyze
    link(rel='stylesheet', href='/stylesheets/style.css')

  //- Initialize Angular app
  body(ng-app="tweetalyze")
    block content
    ui-view
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
    p hello from layout
    script.
      //- dont put an arg into io or it breaks
      let socket = io();
      console.log('this is a socket', socket);
      //- test socket associated with get / 
      socket.on('tweet', function(data) {
          // should return test object
          console.log('Tweet socket is open');
          console.log('This should be a tweet:', data);
      });

    //- Backup CDNS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')

    //- Requiring component files
    script(src='/javascripts/client.js')
    script(src='/javascripts/components/search/search.component.js')
    script(src='/javascripts/components/show/show.component.js')
    script(src='/javascripts/components/stream.service.js')

