doctype html
html
  head
    title Tweetalyze
    link(rel='stylesheet', href='/stylesheets/style.css')

  //- Initialize Angular app
  body(ng-app="tweetalyze")
    block content
    ui-view
    p hello from layout

    //- Backup CDNS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')

    //- Requiring component files
    script(src='/javascripts/client.js')
    script(src='/javascripts/components/search/search.component.js')
    script(src='/javascripts/components/show/show.component.js')
    script(src='/javascripts/components/stream.service.js')
