<div class="wrapper">
  <div class="searchblock">
    <h1 class="title">Tweetalyze</h1>
    <form ng-submit="$ctrl.stream()">
        <input ng-model="$ctrl.streamQuery"
               class="searchbar"
               type="text"
               placeholder="How do people feel about...">
        <input type="submit" class="tweetalyzeit" value="Tweetalyze It!">
    </form>
    <p>

    </p>
  </div>
</div>

  <div class="footer">
    <span><a ui-sref="about">About this page.</a></span></br>
    <span>Developed by <a href="https://github.com/ccparkhurst" target="_blank">Christina
    Parkhurst</a> and <a href="https://github.com/wallerGoble" target="_blank">Waller Goble</a>.
    </span>
  </div>
