<div class="wrapper">
  <div class="searchblock">
    <h1 class="titleblock">Tweetalyze</h1>

    <form ng-submit="$ctrl.stream()">
        <input ng-model="$ctrl.streamQuery"
               class="searchbar"
               type="text"
               placeholder="Search for...">
        <input type="submit" class="tweetalyzeit" value="Tweetalyze It!">
    </form>
    <p>
      To search for a user's tweets, start search with an @
    </p>
  </div>
  <div class="about">
    <p>
      Tweetalyze is a data visualization tool which displays real-time sentiment
      analysis of tweets on any given topic. It is built on a Node.js backend paired
      with an AngularJS 1.6 frontend. The Twitter Streaming API provides the real-time
      Twitter stream, and the Node.js Sentimental package performs the
      sentiment analysis. HighCharts.js coupled with the highcharts-ng
      Angular wrapper is used for charting.
    </p>
    <p>
      This app was developed by <a href="https://github.com/ccparkhurst">Christina
      Parkhurst</a> and <a href="https://github.com/wallerGoble">Waller Goble</a>.
    </p>
  </div>

</div>
