body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

.searchbar {
  max-width: 40rem;
  margin: 0 auto;
  /*display: block;*/
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  /*padding: 1.5rem 2rem;*/
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  /*border: 0;*/
  letter-spacing: 0.03em;
  text-align: center;
  @include placeholder {
    letter-spacing: 0.13em;
  }
}

.wrapper {
  padding: 3rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 68px;
  letter-spacing: 0.07em;
  margin-bottom: 0;
}


.titleStream {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  letter-spacing: 0.07em;
  margin-bottom: 20px;
  margin-top: 0;
}

#chart1 {
  width: 90%;
  height: 25rem;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.tweetalyzeit {
    position: relative;
    background-color: #00aced;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.backbutton {
  position: relative;
  background-color: #00aced;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
  cursor: pointer;
}

.stopbutton {
  position: relative;
  background-color: #ED4337;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.startbutton {
  position: relative;
  background-color: #74AD1B;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
  cursor: pointer;
}
